.y-custom-tree {
  width: 212px;
  position: relative;
}
.y-custom-tree .ant-tree-title {
  display: inline-block;
}
.y-custom-tree .y-custom-tree-node {
  display: inline-block;
}
.y-custom-tree .y-custom-tree-title {
  min-width: 50px;
  max-width: 84px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: inline-block;
}
.y-custom-tree .y-custom-tree-operate {
  position: absolute;
  right: 0;
  top: 11px;
}
