.y-form-item {
  &.ant-form-item {
    color: @y-color-text-regular;
  }
  .ant-form-item-control {
    line-height: 34px;
  }
  .ant-form-item-label {
    line-height: 34px;
    label {
      display: inline-flex;
      max-width: 100%;
      align-items: center;
    }
  }
  .y-form-item-label-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    label {
      display: inline-flex;
      width: 100%;
    }
  }
  &.more-form-item {
     .ant-form-item-children {
      display: flex;
      .y-form-item {
        margin: 0;
      }
    }
  }
}