.y-form-item {
  .ant-form-item-label {
    label {
      display: inline-flex;
      width: 100%;
      align-items: center;
    }
  }
  .y-form-item-label-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    label {
      display: inline-flex;
      width: 100%;
    }
  }
}