@import "../variables/index.less";

.y-link-tag {
  .y-link-tag-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    .y-tag-item {
      margin-right: @y-spacing-xs;
      margin-bottom: @y-spacing-xs;
    }

    li {
      list-style-type: none;
      height: @y-height-m;
      line-height: 22px;
      opacity: 1;
      background: @y-color-fill-normal-btn;
      padding: @y-spacing-xxs @y-spacing-m;
      border: @y-border-width-default @y-border-style-default @y-color-border-dark;
      border-radius: @y-radius-default;
      ;
      color: @y-color-text-regular ;
      cursor: pointer;
      position: relative;

      .y-link-tag-mark {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .activeClass {
      border-color: @y-color-primary;
      color: @y-color-primary;
      background-color: @y-color-fill-bg-white;
    }

    .y-tag-is-disabled {
      color: #ccc !important;

      &:hover {
        color: #c0c4cc;
        cursor: not-allowed;
        background-image: none;
      }
    }
  }

  .y-ul-is-disabled {
    color: @y-color-fill-disable  !important;

    li {
      color: @y-color-text-placeholder;
      cursor: not-allowed;
      background-image: none;
    }
  }
}