.resize-table-th {
  position: relative;

  .table-draggable-handle {
    height: 100% !important;
    bottom: 0;
    left: auto !important;
    right: -5px;
    cursor: col-resize;
    touch-action: none;
  }
}

.table-draggable-handle {
  transform: none !important;
  position: absolute;
}

.ant-table {

  .ant-table-thead>tr>th .anticon-filter,
  .ant-table-thead>tr>th .ant-table-filter-icon {
    right: unset;
    border-radius: 2px;
    top: 6px;
    bottom: 6px;
    height: unset;
    margin-left: 4px;
  }

  .ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters:hover .anticon-filter:hover {
    background-color: @y-color-text-placeholder;

  }
}